.side-bar {
    position: fixed;
    margin-top: 10px;
    top: 56px;
    left: 0px;
    width: 200px;
    bottom: 0;
    padding: 10px;
    background-color: white;  
    z-index: 1000;           
    border-radius: 5px;
    overflow-y: auto;
    padding-left: 20px;
}

.wrapper
{
    width: 200px;
    height: 150px;
    border-bottom: 2px solid #333;
    border-radius: 5px;
    border-color: lightgray;
    padding: 10px;
}

.home-bar {
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

}

.home-button, .shorts-button, .subscriptions-button {
    font-weight: 700px;
    background-color: white;
    height: 48px;
    width: 175px;
    border-radius: 15px;
    border: none;
    text-align: left;
}

.home-button:hover, .shorts-button:hover, .subscriptions-button:hover,.home-button:active, .shorts-button:active, .subscriptions-button:active
{
    background-color: lightgray;
}

.you-bar
{
    font-weight: bold;
    padding-bottom: 20px;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-align: left;

}

.history, .playlists,.your-videos,.your-courses,.watch-later,.liked-videos,.your-clips
{
    font-weight: 700px;
    background-color: white;
    height: 48px;
    width: 175px;
    border-radius: 15px;
    border: none;
    text-align: left;
}

.history:hover, .playlists:hover,.your-videos:hover,.your-courses:hover,.watch-later:hover,.liked-videos:hover,.your-clips:hover,.history:active, .playlists:active,.your-videos:active,.your-courses:active,.watch-later:active,.liked-videos:active,.your-clips:active
{
    background-color: lightgray;
}

.wrapper2
{
    width: 200px;
    height: 350px;
    border-bottom: 2px solid #333;
    border-radius: 5px;
    border-color: lightgray;
    padding: 10px;
}

.subscriptions
{
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.subscriptions-bar
{
    margin-top: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.youtuber-box
{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    height: 50px;
    
}

.youtuber-pfp
{
    width: 24px;
    align-items: start;
    margin-right: 10px;
    border-radius: 12px;

}

.youtuber-name
{
    background-color: white;
    display: flex;
    width: 200px;
    height: 40px;
    justify-content: flex-start;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 12px;
    text-align: left;
    align-items: center;
}

.youtuber-name:hover
{
    background-color: rgb(240, 240, 240);
}