.yt-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;

}

@media (max-width: 600px) {
    .yt-grid {
        grid-template-columns: 1 fr 1fr;
    }
}

@media (min-width: 601px) and (max-width: 1439px) {
    .yt-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1440px) {
    .yt-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.thumbnails {
    width: 100%;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
}

.upper-div {
    position: relative;
}

.time {
    position: absolute;
    background-color: black;
    font-family: roboto, arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 2px 4px 2px;
    border-radius: 6px;
    color: white;
    bottom: 10px;
    right: 10px;

}



.profile-pic {
    vertical-align: top;
}

.bottom-div {
    display: grid;
    grid-template-columns: 50px 1fr;
}


.video-description {
    margin-left: 10px;

}

.video-info,
.video-title,
.video-author {
    width: 100%
}

.video-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.video-author {
    margin-bottom: 10px;
}