p {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}

.yt-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;

}

.thumbnails {
    width: 100%;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.upper-div {
    position: relative;
}

.time {
    position: absolute;
    background-color: black;
    font-family: roboto, arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 6px;
    color: white;
    bottom: 10px;
    right: 10px;

}



.profile-pic {
    vertical-align: top;
}

.bottom-div {
    display: grid;
    grid-template-columns: 50px 1fr;
}


.video-description {
    font-family: Roboto, Arial;
    margin-left: 10px;

}

.video-info,
.video-title,
.video-author {
    width: 100%
}

.video-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.video-author {
    margin-bottom: 10px;
}